# Example config to setup per-tool probing and tool detection.
# Used in per-tool-probe examples

[tool_probe_endstop]
  crash_gcode:
    RESPOND TYPE=error MSG='Tool not detected, expected {printer.toolchanger.tool_number}. Pausing the print.' 
    M84
    TURN_OFF_HEATERS

[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL]
gcode:
  DETECT_ACTIVE_TOOL_PROBE
  _INITIALIZE_FROM_DETECTED_TOOL_IMPL

[gcode_macro _INITIALIZE_FROM_DETECTED_TOOL_IMPL]
gcode:
  {% if printer.tool_probe_endstop.active_tool_number | int == -1 %}
    RESPOND TYPE=error MSG='Failed to detect active tool'
    PAUSE
  {% else %}
    { action_respond_info('initialize from detected tool')}
    INITIALIZE_TOOLCHANGER T={printer.tool_probe_endstop.active_tool_number}
  {% endif %}

# per tool probe is not yet integrated with toolchanger tool detection. This macro adds a stopgap.
[gcode_macro VERIFY_TOOL_DETECTED]
rename_existing: VERIFY_TOOL_DETECTED_ORIG
gcode:
    G4 P200
    DETECT_ACTIVE_TOOL_PROBE
    _STOP_IF_INCORRECT_TOOL {rawparams}

[gcode_macro _STOP_IF_INCORRECT_TOOL]
gcode:
    {% if T in params and printer.tool_probe_endstop.active_tool_number | int != params.T | int %}
       RESPOND TYPE=error MSG='Tool not detected, expected {params.T}. Pausing the print.'
       M112
    {% elif printer.tool_probe_endstop.active_tool_number | int == -1%}
       RESPOND TYPE=error MSG='No tool detected. Pausing the print.'
       M112
    {% endif %}
