# Cartogrpaher probe
[mcu scanner]
canbus_uuid: dfc35f74b24e

[scanner]
mcu: scanner
x_offset: 0
y_offset: 27
backlash_comp: 0.01238
sensor: cartographer
sensor_alt: carto
mode: touch
mesh_runs: 2
scanner_touch_threshold = 2250
scanner_touch_speed = 1
scanner_touch_z_offset = 0.05

[adxl345]
cs_pin: scanner:PA3
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    175, 175, 20

[quad_gantry_level]
gantry_corners:
	-70,-10
	420,410
points:
	50,50
	50,300
	300,300
	300,50
speed: 200
horizontal_move_z: 10
max_adjust: 20

[bed_mesh]
zero_reference_position: 175, 175
speed: 200
horizontal_move_z: 5
mesh_min: 10, 20
mesh_max: 340, 330
probe_count: 10, 10
adaptive_margin: 5
algorithm: bicubic

[temperature_sensor Cartographer_MCU]
sensor_type: temperature_mcu
sensor_mcu: scanner
min_temp: 0
max_temp: 105

[homing_override]
axes: xyz
gcode:
  {% set x = 'X' in params or params|length == 1 %}
  {% set y = 'Y' in params or params|length == 1 %}
  {% set z = 'Z' in params or params|length == 1 %}

  {% if z %}
    G90
    SET_KINEMATIC_POSITION Z=0
    G0 Z5 F600
  {% endif %}

  {% if x %}
    _SENSORLESS_HOME_X
    G91 ; relative mode
    G0 X-60 F5000
  {% endif %}

  {% if y %}
    G28 Y
    G91 ; relative mode
    G0 Y-10 F5000
  {% endif %}
  G90 ; absolute mode

  {% if z %}
    G0 X175 Y175 F12000
    G28 Z
    G0 Z10
  {% endif %}

  INITIALIZE_TOOLCHANGER

[gcode_macro CARTOGRAPHER_TOUCH_WITH_TOOL_OFFSET]
gcode:
  CARTOGRAPHER_TOUCH
  _ADJUST_Z_POSITION_WITH_TOOL_OFFSET

[gcode_macro _ADJUST_Z_POSITION_WITH_TOOL_OFFSET]
gcode:
  {% set tool_name = printer.toolchanger.tool %}
  {% if tool_name %}
    {% set offset = printer[tool_name].gcode_z_offset %}
    SET_KINEMATIC_POSITION Z={printer.toolhead.position.z + offset}
  {% endif %}

[gcode_macro _SENSORLESS_HOME_X]
variable_home_current: 0.5
gcode:
    # Always use consistent run_current on A/B steppers during sensorless homing
    {% set RUN_CURRENT_X = printer.configfile.settings['tmc5160 stepper_x'].run_current|float %}
    {% set RUN_CURRENT_Y = printer.configfile.settings['tmc5160 stepper_y'].run_current|float %}
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={printer["gcode_macro _SENSORLESS_HOME_X"].home_current}

    # Home
    G28 X
    # Move away
    G91
    G1 X-30 F1200
    # Set current during print
    SET_TMC_CURRENT STEPPER=stepper_x CURRENT={RUN_CURRENT_X}
