# This file contains common pin mappings for the BIGTREETECH EBBT0
# Canbus board. To use this config, the firmware should be compiled for the
# STM32G0B1 with "8 MHz crystal" and "USB (on PA11/PA12)" or "CAN bus (on PB0/PB1)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu EBBT0]
canbus_uuid: ac5f7df1a805
# python3 ~/katapult/scripts/flashtool.py -i can0 -u ac5f7df1a805 -r
# python3 ~/katapult/scripts/flashtool.py -i can0 -u ac5f7df1a805 -f ~/klipper/out/klipper.bin

[adxl345 T0]
cs_pin: EBBT0: PB12
spi_software_sclk_pin: EBBT0: PB10
spi_software_mosi_pin: EBBT0: PB11
spi_software_miso_pin: EBBT0: PB2
axes_map: x,z,-y

[extruder]
step_pin: EBBT0: PD0
dir_pin: !EBBT0: PD1
enable_pin: !EBBT0: PD2
heater_pin: EBBT0: PB13
sensor_pin: EBBT0: PA3
sensor_type: ATC Semitec 104NT-4-R025H42G

full_steps_per_rotation: 200
microsteps: 16
gear_ratio: 9:1
rotation_distance: 47.088
nozzle_diameter: 0.400
filament_diameter: 1.750

control: pid
pid_Kp: 30   #44.282 
pid_Ki: 10   #18.451 
pid_Kd: 26.570

min_temp: 0
max_temp: 300

max_extrude_only_distance: 150

[tmc2209 extruder]
uart_pin: EBBT0: PA15
run_current: 0.5
stealthchop_threshold: 0

[heater_fan T0_hotend_fan]
pin: EBBT0: PA0
heater: extruder
heater_temp: 50.0

[fan_generic T0_partfan]
pin: EBBT0: PA1

[gcode_macro T0]
variable_active: 0
variable_color: ""
gcode:
    SELECT_TOOL T=0


#change the tool numbers to the tool you are configuring, ie T0, T1, etc
[tool T0]
#change this too
tool_number: 0
detection_pin: !EBBT0:PB5
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
#if this were T1, then this would be extruder1, etc
extruder: extruder
#Change T0_partfan to tool number
fan: T0_partfan
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 82
params_park_y: 9
params_park_z: 303
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 46.4
params_input_shaper_damping_ratio_x: 0.098
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 34.4
params_input_shaper_damping_ratio_y: 0.088

[neopixel T0_leds]
pin: EBBT0:PD3
chain_count: 3
color_order: GRB
initial_RED: 1.0
initial_GREEN: 0.0
initial_BLUE: 0.0
initial_WHITE: 0.0

[gcode_macro _T0_vars]
variable_logo_led_name:         "T0_leds"
variable_logo_idx:              "1"
variable_nozzle_led_name:       "T0_leds"
variable_nozzle_idx:            "2,3"
gcode:


