####################################################################################
#	                         Working
####################################################################################
#--------------------------------------------------------------------
[gcode_macro M104]
rename_existing: M104.1
description: [T<index>] [S<temperature>]
  Set tool temperature.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
    {% if params.T is defined %}
        {% set newparameters = " T="~params.T %}
        {% if params.S is defined %}
            {% set newparameters = newparameters ~ " TARGET="~params.S %}
        {% endif %}
        SET_TOOL_TEMPERATURE{newparameters}
    {% else %}
        M104.1 {rawparams}
    {% endif %}

#--------------------------------------------------------------------
[gcode_macro M109]
rename_existing: M109.1
description: [T<index>] [S<temperature>]
  Set tool temperature and wait.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
gcode:
    {% if params.T is defined %}
        {% set newparameters = " T="~params.T %}
        {% if params.S is defined %}
            {% set newparameters = newparameters ~ " TARGET="~params.S %}
        {% endif %}
        SET_TOOL_TEMPERATURE WAIT=1 {newparameters}
    {% else %}
        M109.1 {rawparams}
    {% endif %}

#--------------------------------------------------------------------
[gcode_macro M106]
description: Override "M106" to allow multiple extruders.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
  S= Target temperature
;Need rename is used with multi_fan
;rename_existing: M106.1
gcode:
    {% set raw_speed = params.S|default(0)|float %}
    {% set fan_speed = (raw_speed / 255.0)|round(2) %}
    {% set tn = params.T|default(printer.tool_probe_endstop.active_tool_number)|int %}
    {% set tool = printer.toolchanger.tool_names[tn]|default('') %}
    {% set fan_name = '' %}

    {% if tool in printer %}
        {% set fan_name = printer[tool].fan.split(' ')[1] %}
    {% endif %}

    ### other user define FAN
    SET_FAN_SPEED FAN={fan_name} SPEED={fan_speed}

#--------------------------------------------------------------------
[gcode_macro M107]
description: Override "M107" to allow multiple extruders.
  T= Tool number, optional. If this parameter is not provided, the current tool is used.
;Need rename is used with multi_fan
;rename_existing: M107.1
gcode:
    M106 S0 {rawparams}

#--------------------------------------------------------------------
[gcode_macro BED_MESH_CALIBRATE]
rename_existing: BASE_BED_MESH_CALIBRATE
gcode:
     ## Bed mesh knows about the probe offset, but not about the tool offset.
    RESPOND TYPE=echo MSG='TOOL_BED_MESH_CALIBRATE...'
    {% set tool_z_offset = printer[printer.toolchanger.tool].gcode_z_offset %}
    G90 ; absolute mode
    G0 Z10 F1000
    SET_KINEMATIC_POSITION Z={10.0-tool_z_offset|float}
    BASE_BED_MESH_CALIBRATE ADAPTIVE=1
    G0 Z10 F1000
    SET_KINEMATIC_POSITION Z={10.0+tool_z_offset|float}

#--------------------------------------------------------------------
[gcode_macro QUAD_GANTRY_LEVEL]
description: check calibration probe and initialse toolhead before QGL
rename_existing: _QUAD_GANTRY_LEVEL
gcode:
    ## This macro done as such to overcomes some Klipper macro variable quirk.
    _CPI_CHECK
    _QGL

####################################################################################
#	                         Hidden
####################################################################################
#--------------------------------------------------------------------
[gcode_macro _CPI_CHECK]
gcode:
    TOOL_CALIBRATE_QUERY_PROBE
    M400
    
#--------------------------------------------------------------------
[gcode_macro _QGL]
gcode:
    {% if printer.tools_calibrate.calibration_probe_inactive %}
        INITIALIZE_TOOLCHANGER
        _QUAD_GANTRY_LEVEL
    {% else %}
        RESPOND TYPE=error MSG='CALIBRATION PROBE NOT DOCKED!!!'
    {% endif %}
